html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #fff;
    font: "Helvetica Neue Ultra Thin";
    color: #fff;

}

#root {
    display: flex;
    flex-direction: column;
    background-color: #0073D1;
    height: 100vh;
}



